In [4]:
# Define the function 'say_hello' so it prints 'Hello!' when called 
def say_hello(): 
    print('Hello!')

In [5]:
# Call function
say_hello()

Hello!

In [6]:
# Define the function say_something so it prints whatever is passed 
def say_something(something):
    print(something)

In [11]:
# Call the function
jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(jane_says)

Hi, my name is Jane. I'm learning Python!

In [12]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

passing_math_count = 29370
total_student_count = 39170

passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [13]:
# a list of my grades 
my_grades = ['B','C','B','D']

In [14]:
# import pandas 
import pandas as pd 
# convert my_grades to a series 
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [15]:
# change the grades by 1 letter grade each 
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [17]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.2f}".format(grade))

92.34
84.56
86.78
98.32

In [18]:
# convert the numerical grades to a series 
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [19]:
# Format the grades to the nearest whole number percent 
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    78
dtype: object